@model List<Exam>
@{
    int count = 1;
}
<div class="mt-5">
    <div class="d-flex justify-content-between">
        <h4>Exams</h4>
        <a class="btn btn-primary" asp-action="Create">Add</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lesson code</th>
                <th scope="col">Student number</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.LessonCode</td>
                    <td>@item.StudentNumber</td>
                    <td>@item.Price</td>
                    <td>@item.Date.ToString("dd-MM-yyyy")</td>
                    <td>
                        <form style="display:inline-block" method="post" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a class="ms-3 btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>